{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<main>
    <div id="container">
      <form action="/" method="POST">
        <img src="https://lh3.googleusercontent.com/a-/AOh14GiDK0aBDLdeA8Wlln-0-UR9OJO827QyzdEm_6BpHw=s192-c-rg-br100"><br>
        <input type="text" value="@histeward" placeholder="username"><br>
        <input type="password" placeholder="password"><br>
        <input type="submit" value="SIGN IN"><br>
        <span><a href="#">Forgot Password?</a></span>
      </form>
    </div>
</main>


{% endblock %}

